[Unit]
Description=Statbot - the Discord SQL ingestion bot
After=network.target

[Service]
Type=simple
User=statbot
ExecStart=/usr/bin/python3.6 -m statbot -d config.json
WorkingDirectory=/home/statbot/dev
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
